In [ ]:
##title

Introduction

In [156]:
import requests
import requests_cache
from bs4 import BeautifulSoup
import lxml
import re
requests_cache.install_cache('cache')

## * <span style="color:blue">Web Scrapping</span>  *

We use 3000 posts in Indeed to futher analysis. First, we get the basic information inlcluding location, company name and url for the post. For url, we locate the tags with attribute *<span style="color:blue">"data-tn-element="jobTitle"</span>*, the url is the value for attribute *<span style="color:blue">href</span>*. For location and companies' names, they are the value of tag *<span style="color:blue">span</span>* with attribute *<span style="color:blue">lccation and company </span>* seperately.

In [1]:
def get_url(start_url,pages=1):
    '''
    This function will return url,text  in the desifnated pages.
    Input: start_url: the start page
           pages:number of pages need searching.
    '''
    url=start_url 
    urls=[] #list of urls needed
    loc=[]
    names=[]
    n_next=0 #number of next url
    next_urls=[]
    while True: 
        
        html_doc=requests.get(url)
        content=html_doc.content
        soup = BeautifulSoup(content,"lxml")
        
        #urls
        tags=soup.select('a[data-tn-element="jobTitle"]') #locate
        temp_urls=[tag.get("href") for tag in tags ]
        urls=urls+["https://www.indeed.com"+url for url in temp_urls if ~url.startswith("http")]
        
        #location
        location = soup.find_all(name="span",attrs = {"class":"location"})
        loc =loc+ [i.text for i in location]
        
        #company name
        name_tags=soup.find_all(name="span",attrs = {"class":"company"})
        names=names+[i.text for i in name_tags]
        #combine
        #loc_len=len(loc)
        #url_len=len(urls)
        ###if reach the upper limitation
        if(n_next==pages-1):
            break
        ##get next pages
    
        ##if we can't find next one
        starts=(n_next+1)*10
        next_url="https://www.indeed.com/jobs?q=data+analyst&l=CA&start=%d"%(starts)
        n_next=n_next+1
        url=next_url
        next_urls=next_urls+[url]
        
        
    return urls,loc,names,next_urls

We scarp information from corresponding website according to the url for each post. For the url, we We get job description from body of the website since all the information about the job is the value of tag *<span style="color:blue"> body</span>*.

In [3]:
def get_content(url):
    try:
        doc=requests.get(url)
        job_content=doc.content
        soup_job= BeautifulSoup(job_content,'lxml')
        job_body_tag=soup_job.find_all("body")[0]
        job={"url":url,"text":job_body_tag.text}
    except:
        job={}
    return job

We start from "https://www.indeed.com/jobs?q=data+analyst&l=CA" to find the posts related to data analysts in California. We get 3000 posts in 200 pages.

In [4]:
start_url="https://www.indeed.com/jobs?q=data+analyst&l=CA"

In [5]:
urls,locs,names,nexts=get_url(start_url,pages=200)

In [7]:
names_fn=[x.strip() for x in names]

In [185]:
import collections as cls

In [9]:
cls.Counter(names_fn)#examine names

Counter({u'21Tech': 1,
         u'360 IT Professionals': 1,
         u'39 Celsius Web Marketing': 1,
         u'A9.com': 16,
         u'AAA': 1,
         u'ABHOW': 1,
         u'AECOM': 1,
         u'AIDS Healthcare Foundation': 1,
         u'AJobStaff': 3,
         u'AKQA': 5,
         u'AMERICAN ADVISORS GROUP': 1,
         u'ARES Corporation': 1,
         u'ATR International': 1,
         u'Abacus Service Corporation': 2,
         u'Abaxis': 1,
         u'Able Forces': 1,
         u'Academic Organization': 1,
         u'Accelon Inc': 2,
         u'Accenture': 1,
         u'Accountemps': 1,
         u'Activision': 1,
         u'Acuitus': 2,
         u'Acumen LLC': 1,
         u'Ad Blot, Inc.': 1,
         u'AdRoll': 1,
         u'Adept Solutions': 3,
         u'Adobe': 4,
         u'Advancement Project': 24,
         u'Adventist Health': 2,
         u'Aetna': 1,
         u'Affinity, Inc.': 1,
         u'Agilent': 1,
         u'Alambic Investment Management, LP': 46,
         u'Alameda County Behavioral Health Care Services (BH...': 1,
         u'Alignment Healthcare': 2,
         u'Allergan': 1,
         u'Alliance IT': 1,
         u'AllianceData': 2,
         u'AllianceIT': 5,
         u'Alta Hospitals System LLC.': 3,
         u'Alta Hospitals System, LLC': 3,
         u'Amazon Corporate LLC': 3,
         u'Amen Clinic': 1,
         u'AmeriHome Mortgage': 2,
         u"America's Workforce Solution, LLC": 2,
         u'American Honda Motor Co., Inc.': 1,
         u'Amtec': 3,
         u'Andiamo! Group': 2,
         u'Anthem, Inc.': 1,
         u'AppDynamics': 1,
         u'Apple': 16,
         u'Applied Medical Resources Corporation': 1,
         u'Appnomic Systems Pvt. Ltd': 1,
         u'Apria Healthcare': 1,
         u'Arthur J. Gallagher & Co': 2,
         u'Ascent Services Group': 2,
         u'Astreya': 5,
         u'Atlas Executive Consulting': 1,
         u'Autodesk': 5,
         u'Avispa Technology': 4,
         u'BANK OF MARIN': 1,
         u'BCBS , CA': 1,
         u'BDS Marketing': 1,
         u'BNP Paribas': 4,
         u'Bank of Hope': 2,
         u'Bank of the West': 2,
         u'Bastion Technologies': 5,
         u'Beacon Systems, Inc': 1,
         u'Becton Dickinson & Company': 1,
         u'Best Choice Products': 1,
         u'BetterHelp': 1,
         u'Bio-Rad Inc.': 1,
         u'BioMarin Pharmaceutical Inc.': 3,
         u'BioMed Realty': 1,
         u'Biorad': 2,
         u'Blackwood Seven': 2,
         u'Blend Labs': 3,
         u'Blizzard Entertainment': 3,
         u'Blue Shield of California': 13,
         u'Booz Allen Hamilton': 1,
         u'Borrego Health': 1,
         u'Boutique Air': 25,
         u'BrickworkX': 1,
         u'Bureau Veritas': 1,
         u'Butte County, CA': 24,
         u'BuyAutoParts.com': 1,
         u'C3 IoT': 1,
         u'CACI': 1,
         u'CBS Interactive': 2,
         u'CEP America': 2,
         u'CH Reynolds': 1,
         u"CHOC Children's Hospital": 2,
         u'COMPULINK BUSINESS SYSTEMS': 1,
         u'CREATECH': 2,
         u'CalOptima': 3,
         u'California Polytechnic State University - San Luis...': 5,
         u'California School for the Deaf and Blind': 1,
         u'California State University': 22,
         u'California State University - Fullerton': 1,
         u'California State University, Chico': 1,
         u'California State University, Los Angeles': 2,
         u'California State University, Monterey Bay': 1,
         u'Cambria Solutions, Inc': 1,
         u'Capgemini': 1,
         u'Caravan Health': 1,
         u'Cardwell Beach': 2,
         u'CareOnSite': 1,
         u'CareWorks Tech': 1,
         u'Cedars-Sinai': 1,
         u'Centrillion': 1,
         u'Century Group': 25,
         u'CenturyLink': 1,
         u'Chegg': 2,
         u'Cherokee Nation Businesses': 16,
         u'Childrens Hospital Los Angeles': 2,
         u'Chinese Community Health Plan': 46,
         u'Chronos Solutions': 2,
         u'Cisco': 10,
         u'Cisco Meraki': 1,
         u'Citrus Research Board': 2,
         u'City of Oakland, CA': 2,
         u'City of Pico Rivera, CA': 2,
         u'City of Stockton': 1,
         u'Clarify Health': 1,
         u'Classy': 3,
         u'Clean Energy': 1,
         u'ClientSolv Technologies': 1,
         u'Clorox': 1,
         u'CloudHealth Technologies': 1,
         u'Cloudera': 1,
         u'Clutter': 1,
         u'Co-Op Temp Services': 1,
         u'Coast Community College District': 1,
         u'Cognella, Inc.': 1,
         u'Coherent, Inc.': 1,
         u'Colony Capital': 1,
         u'Colony NorthStar, Inc.': 1,
         u'Common Securitization Solutions': 3,
         u'Compas': 1,
         u'Conduent': 1,
         u'Connexity': 1,
         u'Contra Costa County Superior Court': 1,
         u'Core Digital Media': 1,
         u'CornerStone Staffing': 1,
         u'Cornerstone': 1,
         u'Cottage Health': 1,
         u'Couchsurfing': 1,
         u'County of Sonoma': 1,
         u'Coupang': 2,
         u'Createch': 2,
         u'Creative Artists Agency (CAA)': 1,
         u'Credit Sesame': 2,
         u'DataVisor': 1,
         u'Davis Strategic Innovations, Inc. (DSI)': 1,
         u'Day Lee Foods': 1,
         u'Dealpath': 1,
         u'Decision Minds': 2,
         u'Deloitte': 1,
         u'Deluxe Entertainment': 2,
         u'Dexcom Inc (US)': 1,
         u'Disney ABC Television Group': 2,
         u'Disney Parks & Resorts': 2,
         u'Diverse Lynx LLC': 1,
         u'Doctors Hospital of Manteca': 2,
         u'Dolby': 6,
         u'Doximity': 1,
         u'Dropbox': 2,
         u'E*TRADE FINANCIAL': 1,
         u'E.&J. Gallo Winery': 1,
         u'EPM Scientific': 1,
         u'EasilyDo': 1,
         u'East West Bank': 3,
         u'Easterseals Bay Area': 2,
         u'Eaze': 4,
         u'Edmunds.com': 1,
         u'Education Pioneers': 1,
         u'Educational Credit Management Corporation': 3,
         u'Edwards Lifesciences': 1,
         u'Electronic Arts': 3,
         u'Elevate Recruiting Group': 1,
         u'Enfec': 1,
         u'Entelo': 2,
         u'Entryless': 3,
         u'Envision Healthcare': 1,
         u'Epsilon': 1,
         u'Esri': 51,
         u'Eventbrite': 2,
         u'Eversight': 1,
         u'Expeditors': 1,
         u'Experis': 1,
         u'Facebook': 31,
         u'Faraday Future, Inc.': 2,
         u'Farmers Insurance Group': 3,
         u'Fashion Nova': 1,
         u'Feedonomics': 1,
         u'Fidelis Pro Solutions Inc': 1,
         u'First 5 LA': 2,
         u'First American Financial Corporation': 25,
         u'First American Property and Casualty': 1,
         u'First Republic Bank': 1,
         u'First Tech Federal Credit Union': 2,
         u'Fisher & Paykel Healthcare': 2,
         u'Fitbit': 2,
         u'FocusKPI Inc.': 3,
         u'Fortinet': 17,
         u'Freedom Financial Network': 1,
         u'FreedomPop': 3,
         u'Fujitsu Ten Corp. of America': 1,
         u'Fullscreen': 6,
         u'Funding Circle': 1,
         u'Future Simple': 2,
         u'GLOBALFOUNDRIES': 2,
         u'Gametime United, Inc.': 6,
         u'GenapSys, Inc.': 1,
         u'General Atomics and Affiliated Companies': 1,
         u'General Electric': 24,
         u'Glassdoor': 49,
         u'Globant': 2,
         u'Goodwin Procter LLP': 1,
         u'Google': 12,
         u'Grail Research': 1,
         u'GreatCall': 1,
         u'GreatSchools': 1,
         u'Green Chef Corporation': 49,
         u'Grid Dynamics': 1,
         u'Groupon': 1,
         u'Guardant Health': 1,
         u'Gwynnie Bee': 2,
         u'HBO': 1,
         u'HGST': 6,
         u'HIRECLOUT': 1,
         u'HP': 1,
         u'Harbor Freight Tools USA, Inc.': 3,
         u'Havas Edge': 1,
         u'Heal': 2,
         u'Healthcare Talent': 1,
         u'Hearst Business Media': 1,
         u'Helix': 3,
         u'Hoag Memorial Hospital Presbyterian': 1,
         u'Hoodline': 1,
         u'Hot Topic, Inc.': 1,
         u'Hulu': 2,
         u'Humboldt State University': 50,
         u'Hyperloop One': 2,
         u'ICON Aircraft': 1,
         u'ICW Group': 2,
         u'ID Analytics': 2,
         u'ID TECH': 1,
         u'IPG Mediabrands': 4,
         u'Identity MSO': 2,
         u'Incedo': 2,
         u'Incusol inc': 1,
         u'InfoScout': 1,
         u'Information Technology Center': 2,
         u'Ingram Micro': 1,
         u'Insight Data Science': 2,
         u'Insight Recruiting': 1,
         u'Instacart': 2,
         u'Intel': 5,
         u'Intelicare Direct': 24,
         u'Intellipro Group Inc.': 2,
         u'Introlligent': 1,
         u'Intuit': 1,
         u'InvenSense': 1,
         u'InventiveSMi': 1,
         u'J. Craig Venter Institute': 1,
         u'JPMorgan Chase': 2,
         u'Jaunt VR': 2,
         u'Johnson Controls': 1,
         u'Judicial Council of California': 6,
         u'Juniper Networks': 4,
         u'KIPP Foundation': 1,
         u'KRG': 2,
         u'Kaiser Permanente': 39,
         u'Kaweah Delta Health Care District': 1,
         u'Kemper Corporation': 1,
         u'Kern County': 16,
         u"King's Hawaiian Bakery West, Inc.": 1,
         u'Komodo Health': 201,
         u'L.A. Care Health Plan': 1,
         u'LA Arena Company LLC': 1,
         u'LORAC Cosmetics LLC': 1,
         u'Laserfiche': 4,
         u'Lat36': 2,
         u'Latitude 36 Inc': 1,
         u'Latitude 36, Inc - Fremont, CA': 1,
         u'Lawrence Berkeley National Laboratory': 1,
         u'Leadsmarket.com LLC': 1,
         u'Lease Advisors': 1,
         u'Ledgent Technology & Engineering': 1,
         u'Leidos': 1,
         u'LendUp': 1,
         u'Lending Club': 1,
         u'LendingTree': 1,
         u'Lieberman Research Worldwide (LRW)': 1,
         u'LifeLock': 1,
         u'Lightspeed': 1,
         u'Linkage Biosciences': 2,
         u'Little Spirits Bay Area': 3,
         u'Living Spaces': 1,
         u'Lockheed Martin': 7,
         u'Loma Linda University': 2,
         u'Loma Linda University Shared Services': 3,
         u'Los Angeles County Department of Human Resources': 16,
         u'Los Angeles County Human Resources': 2,
         u'LumenData': 3,
         u'Lyft Corporate': 1,
         u'Lyons Magnus': 1,
         u'MGA Entertainment Inc': 2,
         u'MHA, Mental Health Association': 1,
         u'MIDCOM': 5,
         u'MUFG': 2,
         u'MVM': 1,
         u'MW Partners': 3,
         u'MachineZone': 2,
         u"Macy's": 1,
         u'Marin General Hospital': 1,
         u'Marin Software': 1,
         u'Matchpoint Solutions': 1,
         u'Mattel': 1,
         u'Maxton & Company': 16,
         u'McKinsey & Company': 1,
         u'Mechanics Bank': 1,
         u'MedMen': 1,
         u'Medallia Inc': 2,
         u'Medidata Solutions': 1,
         u'Medline Industries Inc': 3,
         u'Meggitt': 1,
         u'Melodee Ice Cream': 2,
         u'Merced County, CA': 2,
         u'Mercy Healthcare Sacramento': 1,
         u'Microsemi': 2,
         u'Microsoft': 2,
         u'Milestone Internet Marketing': 1,
         u'Miller Kaplan Arase LLP': 1,
         u'Mindshare': 1,
         u'Miraca Life Sciences, Inc.': 1,
         u'Mirum': 3,
         u'Mission Federal Credit Union': 2,
         u'Mitchell International, Inc.': 1,
         u'Molina Healthcare': 8,
         u'Morgan Lewis': 2,
         u'MorganFranklin': 1,
         u"Mount St. Mary's College": 1,
         u'Move, Inc.': 1,
         u'MuleSoft': 1,
         u'Myers Media Group': 1,
         u'NAI Northern California': 2,
         u'NBCUniversal': 2,
         u'NCSOFT West': 2,
         u'Nauto': 1,
         u'Nestl\xe9 USA': 2,
         u'NetApp': 1,
         u'NetCloudTek': 1,
         u'Netflix': 1,
         u'Neustar, Inc.': 2,
         u'New Directions Technologies, Inc.': 2,
         u'New Relic': 2,
         u'New var, Inc.': 2,
         u'NewEgg': 2,
         u'Niagara Bottling': 2,
         u'NinthDecimal': 2,
         u'Nordic Naturals, Inc.': 6,
         u'Novum Partners': 1,
         u'Nuance': 1,
         u'OMD': 2,
         u'ON Semiconductor': 1,
         u'Old Republic Servicing Solutions': 1,
         u'Omega Accounting Solutions': 1,
         u'OnPoint Analytics, Inc.': 1,
         u'OpenMail': 2,
         u'OpenTable': 1,
         u'Opinion Dynamics': 49,
         u'Oracle': 1,
         u'Orange County Transportation Authority': 16,
         u'Outlook Amusements': 1,
         u'PCS Global Tech': 6,
         u'PLAYSTUDIOS, Inc.': 1,
         u'PRAM Insurance Services, Inc.': 1,
         u'Pacific Alliance Medical Center (PAMC)': 2,
         u'Palo Alto Networks': 1,
         u'Palomar Health': 1,
         u'Panda Restaurant Group': 1,
         u'Pandora Media, Inc.': 2,
         u'Paragon Subrogation Services': 1,
         u'Paramedic Plus Alameda County': 2,
         u'Park Computer Systems, Inc.': 1,
         u'Partnership HealthPlan of CA': 46,
         u'Paypal': 3,
         u'Payscout, Inc.': 6,
         u'PennyMac Loan Services, LLC': 1,
         u'Perfect World Entertainment': 1,
         u'Pfizer Inc.': 1,
         u'PicsArt': 1,
         u'Pinterest': 1,
         u'Playphone, Inc.': 1,
         u'Plaza Home Mortgage': 2,
         u'Practice Fusion': 1,
         u'Prezi': 2,
         u'PriceSpider': 1,
         u'Primitive Logic': 3,
         u'Progrexion': 1,
         u'Prospect Medical Systems': 4,
         u'Prosper': 1,
         u'Proteus Digital Health': 1,
         u'Protingent': 2,
         u'Provectus': 2,
         u'QuinStreet': 2,
         u'Quotient Technology Inc.': 1,
         u'Quri': 1,
         u'R&D Special Library': 1,
         u'REVOLVEclothing': 2,
         u'RGL Forensics': 2,
         u'RR Donnelley': 2,
         u'Radiology Partners': 1,
         u"Rady Children's Hospital - Main Campus": 2,
         u'Rambus': 6,
         u'Ranker': 2,
         u'Razer Inc.': 1,
         u'Regal Medical Group': 1,
         u'Renew Financial': 1,
         u'Retail Solutions': 2,
         u'Ria Financial Services': 1,
         u'Riot Games': 6,
         u'Risk Management Solutions (RMS)': 2,
         u'RiverRock Network': 1,
         u'Riverside Community Hospital': 1,
         u'Riverside Unified School District': 1,
         u'Roche': 2,
         u'Rocket Lawyer': 1,
         u'Roku': 3,
         u'Rumble Entertainment': 1,
         u'S.C. International - Actuarial Recruiters': 2,
         u'SA LLC': 1,
         u'SAIC': 3,
         u'SAP': 464,
         u'SCAN Health Plan': 6,
         u'SEIU United Health Care Workers': 1,
         u'SELLBYTEL Group': 1,
         u'SERCO INC.': 1,
         u'SIX FLAGS': 1,
         u'SQA Solution': 1,
         u'Sacramento Natural Foods Co-op': 201,
         u'Safeway Inc': 2,
         u'Salesforce': 2,
         u'Samba TV': 1,
         u'Samsung': 3,
         u'Samsung Research America': 1,
         u'Samsung SDSA': 1,
         u'San Francisco University High School': 2,
         u'SanDisk': 2,
         u'Seagate': 2,
         u'Segment': 1,
         u'Sequoia': 1,
         u'ServiceLink': 1,
         u'ServiceNow': 4,
         u'ServiceTitan, Inc.': 2,
         u'Sharp Healthcare': 7,
         u'Sharpmist': 3,
         u'Shimento INC': 1,
         u'Shipt': 5,
         u'Shipwire': 1,
         u'Sift Science': 2,
         u'Signifyd': 2,
         u'Silicon Valley Bank': 1,
         u'Skillz Inc.': 1,
         u'Slack': 1,
         u'SoFi': 1,
         u'Solugenix Corporation': 2,
         u'Sonoma Valley Hospital': 1,
         u'Sony Interactive Entertainment PlayStation': 3,
         u'Sony Pictures Entertainment Inc.': 1,
         u'Sotera Wireless, Inc.': 6,
         u'Southern California Edison': 1,
         u'Southern Glazer\u2019s Wine and Spirits': 2,
         u'Spencer Reed Consulting, LLC': 1,
         u'Spin Master': 5,
         u'Spokeo': 1,
         u'Sprint Store by ArchTelecom': 1,
         u'Square': 3,
         u'Sriven Systems Inc.,': 1,
         u'Staffing Industry Analysts': 1,
         u'Stamps.com': 24,
         u'Stanford University': 6,
         u'Starcrest Products Of California': 1,
         u'Stem Inc': 1,
         u'Stitch Fix': 2,
         u'Strategic Employment Partners': 5,
         u'Study.com': 1,
         u'Sugar Foods Corporation': 2,
         u'Sugar Foods Corporation (Fresh Gourmet Division)': 1,
         u'Sun Basket': 189,
         u'Sunsweet Growers Inc.': 49,
         u'Super Micro Computer, Inc.': 1,
         u'Sutter Health': 3,
         u'Synopsys': 1,
         u'Syntelli Solutions': 2,
         u'SysIntelli': 2,
         u'T-Solutions, Inc.': 2,
         u'T. Hasegawa USA, Inc.': 1,
         u'T3W Business Solutions, Inc.': 2,
         u'TITAN Environmental Solutions, Inc.': 1,
         u'TLA LLC': 1,
         u'TVG Network Betfair US': 1,
         u'TW Metals': 2,
         u'Taboola': 2,
         u'TacInsight': 1,
         u'Tailored Brands': 3,
         u'Talent Merchants': 1,
         u'Talkdesk': 2,
         u'TaylorMade': 2,
         u'TechLink Systems Inc.': 1,
         u'Tehama County Department of Social Services - Meri...': 1,
         u'Tekshapers Inc': 1,
         u'Ten-X': 2,
         u'Teradata': 1,
         u'TerranearPMC, LLC': 1,
         u'Tesla Motors': 11,
         u'TextNow': 1,
         u'The Aerospace Corporation': 1,
         u'The Newport Group': 1,
         u'The Solis Group': 1,
         u'The Walt Disney Studios': 2,
         u'The Wonderful Company LLC': 1,
         u'TheInboxExperts LLC': 2,
         u'Thermo Fisher Scientific': 1,
         u'Thomson Reuters': 2,
         u'ThousandEyes': 2,
         u'ThreatMetrix': 1,
         u'Thumbtack': 1,
         u'Tinder': 1,
         u'TinyCo': 1,
         u'Toca Boca': 1,
         u'Torrance Memorial Medical Center': 2,
         u'Tri Counties Bank': 2,
         u'Trianz': 1,
         u'Trimble Inc.': 1,
         u'TrueCar, Inc.': 2,
         u'Twentieth Century Fox': 1,
         u'Twist Bioscience': 1,
         u'Twitch': 3,
         u'U.S. Bank': 1,
         u'UC DAVIS HEALTH SYSTEM': 2,
         u'UC San Diego': 32,
         u'UCLA': 4,
         u'UCLA Health': 2,
         u'UTC Aerospace Systems': 2,
         u'Uber': 2,
         u'Ubertal': 2,
         u'Unitek Information Systems': 1,
         u'University of California - Irvine': 2,
         u'University of California San Francisco': 5,
         u'University of California San Francisco Medical Cen...': 1,
         u'University of California, Berkeley': 2,
         u'University of California, Davis': 2,
         u'University of California, Santa Barbara': 3,
         u'University of La Verne': 2,
         u'Upstart': 5,
         u'VF Corporation': 1,
         u'VIZIO': 2,
         u'VMware': 1,
         u'Valiantica': 2,
         u'Vbridge Global LLC': 1,
         u'Velocify': 1,
         u'Verus Financial': 1,
         u'Veterans Sourcing Group': 3,
         u'ViaSat': 1,
         u'Viant': 1,
         u'Visa': 8,
         u'Vungle': 2,
         u'WJ & Company': 1,
         u'WRKSHP': 2,
         u'Walker and Company': 1,
         u'Walmart eCommerce': 7,
         u'Wargaming America': 5,
         u'Warner Bros. Entertainment Group': 21,
         u'Washington Hospital': 1,
         u'Western Alliance Bank': 1,
         u'Western Digital': 2,
         u'Whittier Hospital Medical Center': 2,
         u'Wilshire Associates Incorporated': 1,
         u'Winplus North America, Inc.': 2,
         u'Wish': 1,
         u'WorkMonger client': 1,
         u'World Poker Tour (WPT)': 2,
         u'Wpromote': 2,
         u'YDesign Group': 1,
         u'Yahoo! Inc.': 2,
         u'Yardi Systems, Inc.': 2,
         u'Yelp': 1,
         u'ZS Associates': 1,
         u'Zeek Technologies': 1,
         u'Zen': 2,
         u'addastaff': 1,
         u'be.group': 1,
         u'broTECH Solutions LLC': 1,
         u'comScore': 1,
         u'dotloop': 1,
         u'eBay Inc.': 1,
         u'eNamix Inc.': 1,
         u'eTeam Inc.': 1,
         u'eTouch Systems Corp': 2,
         u'empowr': 1,
         u'etouch': 1,

In [196]:
import pandas as pd

In [11]:
job_info=[pd.DataFrame(get_content(url) for url in urls )] #get text for each post

In [12]:
job_info_fn=pd.concat(job_info)

In [13]:
job_info_fn.head()

,text,url
0,\n\n\n\n\n\n\nSAP is committed to the principl...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,"Skip to Job Description, SearchClose\n\n ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
2,"Skip to Job Description, SearchClose\n\n ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
3,\n\n\n\n\n\n\n\n\n\n\nCareers HomeEmployment L...,https://www.indeed.com/rc/clk?jk=84bc38d534438...
4,"Entry Level Business AnalystCalifornia City, C...",https://www.indeed.com/rc/clk?jk=4c0b2bbed6002...

In [14]:
job_info_fn['loc']=locs #add locations

In [15]:
job_info_fn['name']=names_fn #add names

After combining the information about the jobs, we get dataframe.

In [16]:
job_info_fn.head(4)

,text,url,loc,name
0,\n\n\n\n\n\n\nSAP is committed to the principl...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",SAP
1,"Skip to Job Description, SearchClose\n\n ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",Sun Basket
2,"Skip to Job Description, SearchClose\n\n ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",Komodo Health
3,\n\n\n\n\n\n\n\n\n\n\nCareers HomeEmployment L...,https://www.indeed.com/rc/clk?jk=84bc38d534438...,"Sunnyvale, CA",Astreya

## * <span style="color:blue">Data Cleaning</span>  *

Our goal is to find the common required or prefered skills for data scientist in California, so we remove the posts without mentioning * <span style="color:blue">analy</span>  *. After subset, we have 2455 observations in the data.

In [187]:
requirements= job_info_fn['require']

In [188]:
idx=[(x.find("analy"))>-1 for x in requirements]

In [189]:
job_analyst=job_info_fn[idx]

In [190]:
len(job_analyst)

2455

Generally, the skills required are in the descripttions of job requirments. We first find the requirements from the job description. Sometimes, the requirements strat with key words like__* <span style="color:red">require, skill, qualification, qualify</span>  * __, we locate requirements by these words. While some posts have other rare pattern, we just keep the whole description.

In [17]:
#remove new lines
def find_require(text):
    '''
    This function find requirements.
    If key words for requirements are find, we keep the part from key words
    else return the whole description
    '''
    try:
        new=(text.strip()).replace("\n"," ")
        new_low=(new.lower()).translate({ 0x2018:0x27, 0x2019:0x27, 0x201C:0x22, 0x201D:0x22, 0x2026:0x20 })
        require=re.search("(require|skill|qualification|qualify).+(apply)?",new_low)
    except:
        return ""
    if require==None:
        return new_low
    else:
        requirement=require.group(0)
    return requirement

In [18]:
job_info_fn['require']=[find_require(x) for x in job_info_fn['text']]

In [19]:
job_info_fn.head()

,text,url,loc,name,require
0,\n\n\n\n\n\n\nSAP is committed to the principl...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",SAP,sap is committed to the principles of equal em...
1,"Skip to Job Description, SearchClose\n\n ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",Sun Basket,required with a strong preference for an analy...
2,"Skip to Job Description, SearchClose\n\n ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",Komodo Health,"requirementsqualificationsbs, ms, or phd in co..."
3,\n\n\n\n\n\n\n\n\n\n\nCareers HomeEmployment L...,https://www.indeed.com/rc/clk?jk=84bc38d534438...,"Sunnyvale, CA",Astreya,skills. we need sound data analysis skills and...
4,"Entry Level Business AnalystCalifornia City, C...",https://www.indeed.com/rc/clk?jk=4c0b2bbed6002...,"California City, CA",NetCloudTek,qualificationsbachlors degree. major in financ...

In [24]:
job_analyst.to_csv("data_analyst.csv", sep=',',encoding='utf-8')

In [182]:
# we export data and read it to avoid repeatedly run code
job_analyst=pd.read_csv("C:\\Users\\aran\\Documents\\stat141B\\project\\jobs_analyst.csv")

## * <span style="color:blue">Data processing</span>  *

Initially, we examine the difference of job opportunity is CA. We plot distribution of the posts on the map. We set point size according to the number of posts(jobs) in the city. The larger the size, the more employment opportunity in that city.

In [183]:
#clean for city
citys=[re.sub('(.+),.*','\\1',x) for x in job_analyst['loc']] #only keep city name

In [204]:
city_count=cls.Counter(citys)

In [206]:
city_fn=pd.DataFrame.from_dict(city_count,orient='index')

In [207]:
city_fn.columns=['counts']

In [208]:
city_fn['city']=city_fn.index

In [209]:
city_fn=city_fn.set_index([range(len(city_fn))])

In [210]:
city_fn.head()

   counts                 city
0       3     Westlake Village
1       3               Newark
2       4           Loma Linda
3     672        San Francisco
4       1  Contra Costa County

Then, we set size according to the number of posts of the city.

In [211]:
def city_size(number):
    if number>600:
        return 10
    elif number>200:
        return 6
    elif number>100:
        return 5
    elif number>80:
        return 4
    elif number>50:
        return 3
    elif number>30:
        return 2
    elif number>10:
        return 1
    else:
        return 0.5

In [213]:
city_fn['size']=[city_size(x) for x in city_fn['counts']]

city_fn.head()

   counts                 city  size
0       3     Westlake Village   0.5
1       3               Newark   0.5
2       4           Loma Linda   0.5
3     672        San Francisco  10.0
4       1  Contra Costa County   0.5

In [ ]:
#map

First, we figure out what is the min of working experience required and what will be the lowest degree

We get years of experience and degree in the requirment by regular expression. For years of experience, generally, it comes with years following. Then pattern is like __* <span style="color:red">x-x years</span>  * __ or __* <span style="color:red">x years</span>  * __. Since years mentioned in the job description are close and the one mentioned first is likely to be the minumum working exprience, we choose the first one as years of experience. When it comes for degree, we also choose the first one for the reason that the first mentioned degree will be the minumum requirement.

In [32]:
job_analyst['year']=[re.sub('(.+)([0-9]{1,2}-? *[0-9]{1,2}.*year.{0,30})(.*)','\\2',x) for x in (job_analyst['require_fn'])]

In [34]:
def get_year(text):
    '''
    This function get year from text.
    '''
    year_temp=re.match("[0-9]+",text)
    if year_temp==None:
        return 0
    else:
        return year_temp.group(0)

In [39]:
job_analyst['year']=[get_year(x) for x in job_analyst['year']]

In [41]:
max(job_analyst['year'])

8

Then, we group year as 3 groups: less than 2, 3-5 and greater than 5:

In [215]:
def year_group(year):
    '''
    This function group year accroding to the input.
    '''
    if year>5:
        return "greater than 5"
    elif year>3:
        return "3-5"
    else:
        return "less than 2"

In [217]:
job_analyst["year_group"]=[year_group(year) for year in job_analyst['year']]

Next, we find degree. The  common pattern are: __* <span style="color:red">bachelor, ms, phd, bs, master, ba</span>  * __ . We extract these pattern from the requirement.

In [127]:
job_analyst['degree']=[get_degree(x) for x in job_analyst['require_fn']]

def get_degree(text):
    '''
    This function get degree from text.
    '''
    degree_temp=re.search("bachelor|ms|phd|bs|master|ba",text)
    if degree_temp==None:
        return None
    else:
        degree_temp=degree_temp.group(0)
        if degree_temp=='bs':
            return "bachelor"
        elif degree_temp=="ms":
            return "master"
        else:
            return 'phd'

In [79]:
#process
import numpy as np
import nltk
from nltk import corpus
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from matplotlib import pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

## * <span style="color:blue">Natural Languege Processing</span>  *

To find the common required skills, we need to find the idf for each word. Then, we select skills with small idf since the smaller the idf, the more common a certain skill is in these posts.

In [218]:
stemmer = PorterStemmer().stem

tokenize = nltk.word_tokenize

def stem(tokens,stemmer = PorterStemmer().stem):
    return [stemmer(w.lower()) for w in tokens] 

def lemmatize(text):
    """
    Extract simple lemmas based on tokenization and stemming
    Input: string
    Output: list of strings (lemmata)
    """
    return stem(tokenize(text))

### * <span style="color:blue">Caculate idf </span>  *

In [227]:
vectorizer = TfidfVectorizer(tokenizer=lemmatize,stop_words="english",smooth_idf=True,norm=None)
tfs = vectorizer.fit_transform(job_analyst['require'])

In [228]:
words=vectorizer.vocabulary_

In [229]:
idfs=vectorizer.idf_

In [230]:
word_df=pd.DataFrame(words.items())

In [231]:
word_df.columns=['word','pos']

In [232]:
word_df_pos=word_df.sort("pos")

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [233]:
word_df_pos['idf']=idfs

In [234]:
sorted_words=pd.DataFrame(word_df_pos.sort('idf'))#sort according to idf

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

The skills could only start with letter, so we remove the words do not start with letters

In [235]:
alpha=[x.isalpha() for x in sorted_words['word']]

We find that sometimes there is no space between two words so we add space to seperate skills.

In [237]:
job_analyst['require_fn']=[re.sub("(.+?)(sas|python|eview|spss|tableau|access|vba|matlab)(.+?)","\\1 \\2 \\3 ",x) for x in (job_analyst['require']).head()]

In [104]:
vectorizer = TfidfVectorizer(tokenizer=lemmatize,stop_words="english",smooth_idf=True,norm=None)
tfs = vectorizer.fit_transform(['require_fn'])

In [106]:
words=vectorizer.vocabulary_

In [107]:
idfs=vectorizer.idf_

In [108]:
word_df=pd.DataFrame(words.items())

In [109]:
word_df.columns=['word','pos']

In [110]:
word_df_pos=word_df.sort("pos")

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [111]:
word_df_pos['idf']=idfs

In [112]:
sorted_words=pd.DataFrame(word_df_pos.sort('idf'))

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [113]:
alpha=[x.isalpha() for x in sorted_words['word']]

In [114]:
words_alpha=sorted_words[alpha]

In [178]:
words_alpha.to_csv("words_alpha.csv", sep=',',encoding='utf-8')

In [13]:
words_alpha=pd.read_csv("words_alpha.csv")

We find that the common ones are: __* <span style="color:red">r,spss, excel, sql, python,java, hadoop, pig, spark, hive, orac, vba, mysql, sqlserver, matlab, microsoft,access,matlab,stata,sa,tableau</span>  * __ . We use regular expression to see whether a post mentioned specific software.

In [14]:
#select softwares
soft_idx=[re.match('^(r|spss|excel|sql|python|java|hadoop|pig|spark|hive|oracl|vba|mysql|\
sqlserver|microsoft|access|matlab|stata|sa|tableau)$',x) for x in words_alpha['word']]

In [15]:
soft_idx1=[not x==None for x in soft_idx]

In [16]:
software=words_alpha[soft_idx1]

In [17]:
software=software[['word','idf']]#show common idf

In [18]:
software

           word       idf
26            r  1.395435
41          sql  1.517182
50        excel  1.577928
80       access  1.708237
227      python  2.103231
266        java  2.289728
486      hadoop  2.937878
504     tableau  2.982875
529      matlab  3.038804
533       spark  3.047693
630   microsoft  3.171072
717          sa  3.409483
925       oracl  3.959529
1199        vba  4.381801
1718       hive  4.993603
2204       spss  5.201242
2375      mysql  5.323845
2659        pig  5.568967
2877      stata  5.820282
5085  sqlserver  7.073045

We match these software directly by their name expect r, sas, excel, java and sql.

In [122]:
soft_pattern=software['word'][(software['word']!='r')& (software['word']!='sa')& (software['word']!='sql')& (software['word']!='excel')]

In [123]:
soft_pattern

80         access
227        python
266          java
486        hadoop
504       tableau
529        matlab
533         spark
630     microsoft
925         oracl
1199          vba
1718         hive
2204         spss
2375        mysql
2659          pig
2877        stata
5085    sqlserver
Name: word, dtype: object

In [128]:
job_analyst.to_csv("job_analyst_mar10.csv")

In [11]:
job_analyst=pd.read_csv("job_analyst_mar10.csv")

In [86]:
soft_mention=[[re.search(x,y) for y in job_analyst['require_fn']] for x in soft_pattern] #match ohter patterns

soft_mention=(pd.DataFrame(soft_mention)).T #transpose

In [88]:
soft_mention.columns=soft_pattern

We match "r","excel" and "java" with pattern " r ", "excel " and " java" since what we are looking for is the software. If we just match these words, we could possibly match a part in a word like "experience", "excellent" and "javascript" which does not be included in job description.

In [89]:
soft_mention['r']=[re.search(" r ",x) for x in job_analyst['require_fn']]
soft_mention['excel']=[re.search(" excel",x) for x in job_analyst['require_fn']]
soft_mention['java']=[re.search(" java ",x) for x in job_analyst['require_fn']]

We match "sas" with pattern "sas" since in the process __* <span style="color:red">lemmatize</span>  * __, we remove 'ending s' from 'sas. If we just match "sa", we could get wrong word like 'salary'.

In [90]:
soft_mention['sas']=[re.search("sas",x) for x in job_analyst['require_fn']]

For "sql", if we match directly by "sql", we will repeatedly count "mysql" and "sqlsever" which also contain "sql" so we match " sql".

In [134]:
soft_mention['sql']=[re.search(" sql",x) for x in job_analyst['require_fn']]

Show the whole dataframe.

In [142]:
soft_mention=pd.DataFrame(soft_mention)

In [143]:
soft_mention=soft_mention.set_index([range(len(soft_mention))])

In [238]:
soft_mention.head()

word,sql,excel,access,python,java,hadoop,tableau,matlab,spark,microsoft,oracl,vba,hive,spss,mysql,pig,stata,sqlserver,r,sas
0,<_sre.SRE_Match object at 0x0000000011235370>,<_sre.SRE_Match object at 0x0000000011DA18B8>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<_sre.SRE_Match object at 0x0000000011B23B28>,None
1,None,None,<_sre.SRE_Match object at 0x00000000120A5370>,<_sre.SRE_Match object at 0x0000000011623098>,<_sre.SRE_Match object at 0x00000000117B8AC0>,<_sre.SRE_Match object at 0x00000000113BE370>,None,<_sre.SRE_Match object at 0x00000000113D65E0>,<_sre.SRE_Match object at 0x00000000113E7780>,None,None,None,None,None,None,None,None,None,<_sre.SRE_Match object at 0x000000001192F7E8>,None
2,<_sre.SRE_Match object at 0x0000000011235308>,<_sre.SRE_Match object at 0x0000000011DA1850>,None,None,None,None,<_sre.SRE_Match object at 0x00000000113D2370>,None,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,<_sre.SRE_Match object at 0x00000000112353D8>,None,None,<_sre.SRE_Match object at 0x0000000011623100>,None,<_sre.SRE_Match object at 0x00000000113BE3D8>,<_sre.SRE_Match object at 0x00000000113D23D8>,None,<_sre.SRE_Match object at 0x00000000113E77E8>,None,None,None,None,None,None,None,None,None,None,None

### * <span style="color:blue">Caculate Frequency</span>  *

In this progress, we count frequency for these skills.

First, we conver result for search into binary variable. If match, we set 1 otherwise set 0.

In [112]:
#count for total
def binary_change(result):
    '''This function will change the result for match into 0-1.
    If none y=0 and vice versa.
    '''
    if result==None:
        return 0
    else:
        return 1

In [145]:
binary_list=soft_mention.applymap(binary_change)

In [146]:
binary_list.head()

word,sql,excel,access,python,java,hadoop,tableau,matlab,spark,microsoft,oracl,vba,hive,spss,mysql,pig,stata,sqlserver,r,sas
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,1,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0
2,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0

Then, we calculate frequency for each skill which is the column sum.

In [147]:
counts_whole=binary_list.apply(np.sum, axis=0)#count for all

In [148]:
counts_whole=pd.DataFrame(counts_whole)

In [151]:
counts_whole.columns=['counts']

In [153]:
counts_whole.sort('counts',ascending=False) #sorting

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

           counts
word
r            1391
excel        1210
sql          1067
access        981
python        750
tableau       310
hadoop        304
spark         261
microsoft     259
java          236
matlab        232
sas           207
oracl         124
stata          66
vba            64
hive           53
spss           36
mysql          27
pig            19
sqlserver       3

In [155]:
counts_whole.to_csv("counts_all.csv")

In [168]:
binary_list['degree']=job_analyst['degree']#add degree

binary_list['year_group']=job_analyst['year_group']#add experience

In [169]:
binary_list.head()

word,sql,excel,access,python,java,hadoop,tableau,matlab,spark,microsoft,...,hive,spss,mysql,pig,stata,sqlserver,r,sas,degree,year_group
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,phd,less than 2
1,0,0,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,1,0,bachelor,less than 2
2,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,master,less than 2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,phd,less than 2
4,1,0,0,1,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,phd,3-5

In [162]:
binary_list.to_csv("binary_list.csv")

Then, we get frequenct according to experience and degree.

In [174]:
#group by degree
by_degree=binary_list.iloc[:,0:21].groupby("degree")

In [176]:
skill_degree=by_degree.sum() #skill for degree

In [177]:
skill_degree.to_csv("skill_degree.csv")

In [179]:
#group by experience
skill_exp=(binary_list.drop('degree',axis=1).groupby('year_group')).sum()

In [180]:
skill_exp

word,sql,excel,access,python,java,hadoop,tableau,matlab,spark,microsoft,oracl,vba,hive,spss,mysql,pig,stata,sqlserver,r,sas
year_group,,,,,,,,,,,,,,,,,,,,
3-5,45,80,31,14,7,7,21,2,3,25,6,9,2,2,3,1,1,0,101,19
greater than 5,14,18,17,7,4,1,7,0,2,11,4,5,1,0,1,0,0,0,18,7
less than 2,1008,1112,933,729,225,296,282,230,256,223,114,50,50,34,23,18,65,3,1272,181

In [181]:
skill_exp.to_csv('skill_exp.csv')